body{margin:0 auto;background:#68cdd5;max-width:700px;}
.back{margin:2%;width:20%;height:20%;}
.logo{display:block;margin:5% auto 0;}
p{margin:15% 10% 15%;
    font-family:"Microsoft YaHei";
    font-size:2rem;
    letter-spacing:.1rem;
    line-height:1.5em;
    color:white;
    }
img {width: 40%;height:40%;}
.main{text-align:center;
    margin-bottom:50%;
    font-family:"Microsoft YaHei";
    font-size:1rem;
    color:white;
    }
.mainleft{display:block;float:left;width:50%;}
.mainright{display:block;float:left;width:50%;}