body{font-family:"Microsoft YaHei";}
header{background:#68cdd5;overflow:hidden;}
.header{margin:15px 25% 5px;width:50%;text-align:center;font-size:2rem;
    background: #55a8b3;border-radius:5px;overflow:hidden;}
.headerleft{float:left;padding:5px 0;width:50%;background:#55a8b3;border-radius:5px;}
.headerright{float:left;padding:5px 0;width:50%;background:white;border-radius:5px;}
.position{position:absolute;right:10px;top:20px;width:21px;}
main{text-align:center;font-size:1.5rem;color:#999;}
main .row{border-bottom:1px solid #e1e5e7;}
main .col-xs-4{margin:10px 0;}
.mainleft{padding-right:5px;border-right:1px solid #e1e5e7;}
.triangle{float:right;margin-top:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #afbac0;}
content{font-size:1.5rem;}
content .container{border-bottom:1px solid #e1e5e7;}
content .col-xs-7{margin-left:20px;}
content .col-xs-4{padding-right:0;text-align:right;color:red;}
.col-xs-4 span{color:#68cdd5;}
content .col-xs-6,.col-xs-5{margin:5px 0;color:#999}
footer{position:fixed;bottom:0;width:100%;text-align:center;background:#f8fafb;}
.edit{width:55px;height:55px;background:#68cdd5;border-radius:50%;}
.foot{position:fixed;left:0;right:0;margin:0 auto;overflow:hidden;color:white;}
footer span{font-size:3rem;}
footer .col-xs-6{text-align:center;}
button{border:none;}
.home{color:#68cdd5;}
.me{color:#999;}
img{width:10%}