body{font-family:"Microsoft YaHei";}
header{background:#68cdd5;overflow:hidden;}
.header{margin:15px 25% 5px;width:50%;text-align:center;font-size:2rem;
    background: #55a8b3;border-radius:5px;overflow:hidden;}
.headerleft{float:left;padding:5px 0;width:50%;background:#55a8b3;border-radius:5px;}
.headerright{float:left;padding:5px 0;width:50%;background:white;border-radius:5px;}
.position{width:21px;}
.posi{position:absolute;top:25px;right:10px;}
main{font-size:1.5rem;color:#999;}
main .row{border-bottom:1px solid #e1e5e7;}
main .col-xs-4{margin-top:10px;margin-bottom:10px;}
.mainleft{margin:0;padding-right:5px;border-right:1px solid #e1e5e7;}
.triangle{float:right;margin-top:10px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #afbac0;}
.content{font-size:1.5rem;margin-bottom:60px;}
.content .container{border-bottom:1px solid #e1e5e7;}
.content .col-xs-7{margin:5px 0 5px 20px;text-overflow :ellipsis;overflow:hidden;white-space: nowrap;}
.content .col-xs-4{margin:5px 0;padding-right:0;text-align:right;color:red;text-overflow :ellipsis;overflow:hidden;white-space: nowrap;}
.content .col-xs-5{margin-bottom:10px;text-overflow :ellipsis;overflow:hidden;white-space: nowrap;}
.content .col-xs-6{margin-top:10px;text-overflow :ellipsis;overflow:hidden;white-space: nowrap;}
.col-xs-4 span{color:#68cdd5;}
.content .col-xs-2{color:#999}
footer{position:fixed;bottom:0;width:100%;text-align:center;background:#f8fafb;}
.foot{width:55px;height:55px;background:#68cdd5;border-radius:50%;color:white;}
footer span{font-size:3rem;}
footer .col-xs-2{text-align:center;}
button{border:none;background:none;}
.home{color:#68cdd5;}
.me{color:#999;}
select{margin:0;width:100%;border:none;outline:none;}
.select-bg{
    display:block;
    margin:0 auto;
    box-sizing:border-box;
    cursor: pointer;
    position: relative;
}

.select-bg:after{
    content:' ';
    position: absolute;
    right:6px;
    top:50%;
    margin-top:-5px;
    width:0px;
    height:0px;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #0f7fc7;
    font-size:0px;
    line-height:0px
}

.select-green {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
    border: 0 none;
    position: relative;
    padding: 0 0 0 5px;
    width: 84%;
    color:#0f7fc7;
    font-weight: bold;
    background: none;
    background-color: transparent;
    font-size: 13px;
    z-index: 99;
    overflow: hidden;
}