
body{
    margin:0;
    font-family:"Microsoft YaHei";
    background:#29bde0;
}
header{
    position:absolute;
    margin:0;
    width:100%;
    top:0;
}
.vote{
    margin:20px 0 15px;
    font-size:2.5rem;
    text-align:center;
    color:white;
}
em{
    display:block;
    width:40px;
    height:40px;
    position:absolute;
    background-image:url(images/sprite.png);
}
.menu{
    background-position:-52px 0;
}
.a1{
    left:20px;
    top:15px;
}
b{
    display:block;
    position:absolute;
    width:36px;
    height:36px;
    background-image:url(images/sprite.png);
}
.close{
    background-position:-91px 0;
    right:20px;
    top:15px;
}
main{
    position:absolute;
    width:100%;
    background:#b9e9f5;
    top:65px;
}
.speak{padding:20px 25px;
    font-size:1.9rem;
}
i{
    display:block;
    position:absolute;
    width:52px;
    height:52px;
    background-image:url(images/sprite.png);
}
.player{
    width:55px;
    height:55px;
    border-radius:50%;
    border:none;
    opacity:0;
}
audio{
    width:30px;
}
.a3{
    right:14px;
    top:8px;
}
.play{
    background-position:0  0;
}
u{
    display:block;
    position:absolute;
    width:15px;
    height:13px;
    background-image:url(images/sprite.png);
}
.triangle{
    background-position:-247px 0;
    top:67px;
    left:40px;
}
.max{position:absolute;
    top:150px;
    padding-left:45px;
    font-size:1.7rem;
    color:white;
}
.container{
    margin-top:200px;
    margin-bottom:100px;
    text-align:center;
    overflow:auto;
}
.block{
    margin:0 auto;
    width:85%;
    border:3px solid white;
}
.boxup{
    padding:25px 0;
    font-size:2rem;
    color:#565656;
    background:#f5c97b;
}
.boxdown{
    font-size:1.5rem;
    color:white;
    background:#83b09a;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
    height:100px;
    background:#29bde0;
}
.death{
    display:block;
    margin:0 auto;
    padding:15px;
    width:80%;
    color:white;
    font-size:2.5rem;
    background:#fbb435;
    text-align:center;
}
.col-xs-4{
    height:175px;
}
.box:hover{
    height:150px;
}
.box{
    height:105px;
    overflow:hidden;
}
span{
    margin:20px 0;
    display:inline-block;
    width:30px;
    height:32px;
    background-image:url(images/sprite.png);

}
.b1{
    background-position:-216px 0;
}

.b2 {
    background-position: -188px 0;
}
.b3{
    background-position:-127px 0;
}

.b4{
    background-position:-158px 0;
}

